.contactForm {
    padding: 10px 30px 30px 30px;
    border: 2px solid blue;
    border-radius: 5px;
    background-color: aquamarine;
}

.label {
    display: block;
    width: 100%;
    font-size: 20px;
    font-weight: 400;
    
}

.input {
    width: 415px;
    font-size: 20px;
    font-weight: 400;
    padding: 10px;
    margin: 0 0 20px 0;
    border-radius: 5px;
    border: 2px solid blue;
}

.input:hover, .input:focus {
    scale: 1.02;
}

.button {
    font-size: 20px;
    padding: 10px;
    background-color: lightblue;
    border-radius: 5px;
    border: 2px solid blue;
}

.button:hover, .button:focus {
    scale: 1.02;
}